<footer>
    <div class="f-container">
        <div class="f-socilas">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <h6>&copy 2024 Airbnb ,inc</h6>
        <style>
            .f-tools{
                text-decoration: none;
            }
            a{
                color: black;
            }
        </style>
        <div class="f-tools">
            <a class="aa" href="/">Privacy</a>
            <a class="aa" href="/">Terms</a>
            <a class="aa"  href="/">Sitemap</a>
        </div>
    </div>


</footer>